<%= javascript_include_tag 'save_spent_time_queries.js', :plugin => 'redmine_save_spent_time_queries' %>

<div style="display: none" id="spent_time_queries">	
	
<% spent_time_queries.each do |query| %>
	<a href="<%= (query.query + '#query=' + query.name) %>">
		<%= query.name %>
	</a>
<% end %>

</div>
